<?xml version="1.0"?>
<config>
    <global>
        <modules>
            <plugincompany_autocomplete>
                <version>1.4.0</version>
            </plugincompany_autocomplete>
        </modules>
        <helpers>
            <plugincompany_autocomplete>
                <class>Plugincompany_Autocomplete_Helper</class>
            </plugincompany_autocomplete>
        </helpers>
        <models>
            <plugincompany_autocomplete>
                <class>
                    Plugincompany_Autocomplete_Model
                </class>
            </plugincompany_autocomplete>
        </models>
        <blocks>
            <plugincompany_autocomplete>
                <class>Plugincompany_Autocomplete_Block</class>
            </plugincompany_autocomplete>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <autocom>
                    <file>plugincompany_autocomplete.xml</file>
                </autocom>
            </updates>
        </layout>
        <routers>
            <searchautocomplete>
                <use>standard</use>
                <args>
                    <module>Plugincompany_Autocomplete</module>
                    <frontName>searchautocomplete</frontName>
                </args>
            </searchautocomplete>
        </routers>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <plugincompany_autocomplete>
                    <file>plugincompany_autocomplete.xml</file>
                </plugincompany_autocomplete>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <use>admin</use>
                <args>
                    <modules>
                        <plugincompany_autocomplete before="Mage_Adminhtml">Plugincompany_Autocomplete_Adminhtml</plugincompany_autocomplete>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <plugincompany_autocomplete>
            <general>
                <enable>1</enable>
                <jquery>1</jquery>
                <theme>2</theme>
                <srwidth>200</srwidth>
                <imagesize>200</imagesize>
                <search_display>auto</search_display>
                <imagetype>thumbnail</imagetype>
                <productlimit>3</productlimit>
                <show_price>0</show_price>
                <categories>1</categories>
                <categorylimit>3</categorylimit>
                <cms_pages>1</cms_pages>
                <cmslimit>3</cmslimit>
                <listdesign>design-grid-3</listdesign>
                <highlight>0</highlight>

            </general>
            <search>
                <title>name</title>
                <description>short_description</description>
                <description_limit>100</description_limit>
                <sku>1</sku>
                <attribute_priority>title,description,keywords</attribute_priority>
                <visibility>4</visibility>
                <keyword>description,name,short_description,sku</keyword>
            </search>
        </plugincompany_autocomplete>
    </default>
</config>
